# Headless real-i286 PC-9801-86 audio profile.
CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=360
CONFIG_FREERTOS_HZ=100
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_SPEED=200
# CONFIG_PM_ENABLE is not set
